* {
    margin: 0%;
    padding: 0%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    place-items: center;
}

body {
background-image: url(image/fond.png);
background-size: cover;
}

.design {
    height: auto;
    width: 50%;
    position: relative;
    overflow: hidden;
    margin-bottom: 10%;
}
